@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
		font-family: Verdana;
	}

li {
	list-style-type: none;
}

h1 h2 h3 h4 h5 h6 {
	font-family:"Montserrat ExtraLight", sans-serif;
}

p{
    line-height: 1;
}

/*FILTER MENU*****************************************************************/
	.hide-filters {
		display: none;
	}

	#filter-button {
		max-width: 120px;
		padding:6px 0px 6px 0px;
		margin: 0 50px 0 50px;
		background-color: #aee6ee;
	}

	#filter-div {
		padding: 10px 15px;
		margin: 0 50px 0 50px;
		background-color: #aee6ee;	
	}

	.filter-shadow {
		box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.1);
	}




/**/


.div-click {
	
}


/**/



/*TEXT*************************************************************************/
	.montserrat-white {
		font-family: "Montserrat Light";
		color: white;
	}

	




/*CENTERED IMAGE BANNER*******************************************************/
	.img-center img{position: relative;left: 100%;margin-left: -200%;}
	.img-center{text-align: center;overflow: hidden;}
/*******************************************************CENTERED IMAGE BANNER*/


/*STICKY FOOTER****************************************************************/
	/**
	 * Sticky Footer Solution
	 * by Steve Hatcher 
	 * http://stever.ca
	 * http://www.cssstickyfooter.com
	 */

	* {margin:0;padding:0;} 

	/* must declare 0 margins on everything, also for main layout components use padding, not 
	vertical margins (top and bottom) to add spacing, else those margins get added to total height 
	and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

	html, body {height: 100%;}

	#wrap {
		min-height: 100%;
	}

	#main {
		overflow:auto;
		padding-bottom: 180px; /* must be same height as the footer */
		}  

	#footer {
		position: relative;
		margin-top: -180px; /* negative value of footer height */
		height: 180px;
		clear:both;
		background-color: #333;
	} 
/****************************************************************STICKY FOOTER*/


/*LOGO************************************************************************/
	.logoSmall {
		font-family: "Montserrat Light";
	}
	.logoBig {
		font-family: "Montserrat Light";
		padding-top: 50px;
		margin-top: 0;
		margin-bottom: 50px;
	}
	/*Resize hiding function*/
	.hideSmall {
		display: none;    /*hides the block*/
	}
	/*Resize hiding function*/
	.hideBig {
		display: block;   /*hides the block*/
	}

	/*products.php filters menu divider bars*/
	.divide-bars{
		border-style: none solid none solid;
		border-color: grey;
		border-width: 1px;
	}
/************************************************************************LOGO*/


/*BOOTSTRAP NAVBAR************************************************************/
	.shadow {
		/*x-dist y-dist blur size*/
		box-shadow: 0px -6px 20px 0px;
	}

	.navbar-default{background-color: #ffffff;border-color: #ffffff;margin: 0;}
	.navbar-default .navbar-brand{ color: #000000;}
	.navbar-default:hover,.navbar-default:focus{color: #aee6ee;}
	.navbar-default .navbar-text{color: #000000;}
	.navbar-default .navbar-nav>li>a{color: #000000;}
	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{color: #aee6ee;}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a:focus{color: #aee6ee;background-color: #ffffff;}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus{color: #aee6ee;background-color: #ffffff;}
	.navbar-default .navbar-toggle {border-color: #ffffff;}
	.navbar-default .navbar-toggle:hover,	.navbar-default .navbar-toggle:focus {background-color: #ffffff;}
	.navbar-default .navbar-toggle .icon-bar {background-color: #000000;}
	.navbar-default .navbar-collapse,	.navbar-default .navbar-form {border-color: #000000;}
	.navbar-default .navbar-link {color: #000000;}
	.navbar-default .navbar-link:hover {color: #aee6ee;}

	@media (max-width: 767px) {
		.hideSmall{display: block;}
		.hideBig{display: none;}

		/*products.php filters menu divider bars*/
		.divide-bars{
			border-style: solid none solid none;
			border-color: grey;
			border-width: 1px;
		}

	  .navbar-default .navbar-nav .open .dropdown-menu > li > a {color: #000000;}
	  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {color: #aee6ee;}
	  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {color: #aee6ee;background-color: #ffffff;}
	}

	.navbar .navbar-nav {display: inline-block;float: none;}
	.navbar .navbar-collapse {text-align: center;}
/************************************************************BOOTSTRAP NAVBAR*/


/*W3 STUFF********************************************************************/
	.w3-display-container{position:relative;}
	.w3-display-container:hover .w3-display-hover{display:block;}
	.w3-display-container:hover span.w3-display-hover{display:inline-block;}
	.w3-content{max-width:980px;margin:auto;overflow: hidden;}
	.w3-center{text-align:center!important;}
	.w3-image{max-width:100%;height:auto;min-width: 768px;min-height: 256px;}
	.w3-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);}
	.w3-padding-xlarge{padding:16px 32px!important;}
	.w3-border{border:1px solid #fff!important;}
	.w3-wide{letter-spacing:4px;}
	.w3-center .w3-bar{display:inline-block;width:auto;}
	.w3-center{text-align:center!important;}
/********************************************************************W3 STUFF*/


/*PAGINATION******************************************************************/
	.items div {margin: 5px;padding: 10px;}
	.pager div{float: left;	border: 1px solid gray;margin: 5px;padding: 10px 20px;}
	.pager div.disabled{opacity: 0.25;}
	.pager .pageNumbers a{display: inline-block;padding: 0 10px;color: gray;}
	.pager .pageNumbers a.active{color: orange;}
	.pager {overflow: hidden;}
	.paginate-no-scroll .items div{height: 250px;}
/******************************************************************PAGINATION*/
